{% extends "director/index.html" %}
{% load static %}
{% load jsonify %}
{% load i18n %}

{% block page_content %}

<link href="https://cdn.bootcss.com/mermaid/7.0.0/mermaid.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/mermaid/7.0.0/mermaid.min.js"></script>
<script src="{% static 'js/go.js' %}"></script>


<script src='{% static "js/table.pack.js" %}'></script>
<script type="text/javascript">

    row_filters={{row_filters | jsonify }}
    placeholder = '{{search_tip |default:""}}'
    row_sort={{row_sort | jsonify | default:'[]' }}
    heads={{ heads | jsonify | default:'[]'}}
    rows={{ rows | jsonify | default:'[]'}}
    row_pages = {{ row_pages | jsonify}}
    model ="{{ model }}"
    search_args=ex.parseSearch()
    depart_heads={{ depart_heads|jsonify }}
    //    ex.each(row_filters,function(filter){
    //        search_args[filter.name]=search_args[filter.name]||''
    //    })
    crt_view=ex.parseSearch().crt_view || 'table'
    ajax_url="{% url 'employee_ajax' %}"

    bus=new Vue()

    ln.readCache()

    ex.pushUrl=function(url){
        window.history.pushState(url,0,url);
    }

    window.addEventListener('popstate', function(e) {
/// <summary>
///　　　&#10;　在页面初始化加载完成中添加该事件，则可以监听到onpopstate事件，而浏览器进行前进、后退、刷新操作都会触发本事件
///　　　&#10;　linkFly原创，引用请注明出处，谢谢
/// </summary>/// <returns type="void" />
        if (e.state) {
            location= e.state
            //e.state就是pushState中保存的Data，我们只需要将相应的数据读取下来即可
        }
    });

//    var departs=[{did:'b',name:'顶级部门',pk:null,par:null},
//        {did:'c',name:'次顶级',pk:1,par:'b'},
//        {did:'d',name:'第二家公司',pk:2,par:null}]

    ex.map(rows,function(row){
        row.did=row.pk
        if(row.par==null){
            delete row.par
        }
    })



    bus=new Vue()

    //	search字段从 search_args._q 来取值
    $(function () {
        dog=new Vue({
            el:'#there',
            data:{
                heads:heads,
                rows:rows,
                row_filters:row_filters,
                row_sort:row_sort,
                row_pages:row_pages,
                placeholder:placeholder,
                selected:[],
                del_info:[],
                menu:menu,
                can_add:false,
                can_del:false,
                model:model,
                search_args:search_args,
                crt_color:'',

                crt_node:'',

                departs:rows,
                show_edit_win:false,
                active_pk:'',
                deleted_departs:[],
                edit_model:false,
                depart_kw:{
                    heads:this.heads,
                    row:''
                }

            },
            mixins:[table_fun],
            created:function(){
                var self=this
                bus.$on('node_clicked',function(node){
                    if(!self.edit_model){
                        var node= self.diagram.selection.first()
                        if(node&& node.data.detail){
                            self.crt_node=node.data
                            self.show_edit_win=true
                        }


                    }
                })
            },
            watch:{
               'crt_color':function(v){
//                    this.crt_obj.setFill(v)
//                    this.canvas.renderAll()
               },

                show_edit_win:function(v){
                    if(v && this.edit_model){
                        bus.$emit('sync_data')
                    }

                },
//                label:function(v){
//                    var node= this.diagram.selection.first()
//                    if(node) {
//                        update(this.diagram,node.data,{label: v})
//                    }
//                }
            },
            computed:{
//                heads:function(){
//                    var org_heads = depart_heads
//                    var par =ex.findone(org_heads,{name:'par'})
//                    par.options=ex.map(this.departs,function(depart){
//                        return {value:depart.par,label:depart.label}
//                    })
//                    return org_heads
//                },
//                label:function(){
//                    return this.depart_kw.row.label
//                },
//                  m_data:function(){
//                      var departs = ex.copy(this.departs)
//                      var roots = ex.remove(departs,function(depart){
//                          if(!depart.par){
//                              return true
//                          }else{
//                              return false
//                          }
//                      })
//                      var graph_list=[]
//                      ex.each(roots,function(root){
//                          str_child(root,graph_list,departs)
//                      })
//                      return 'graph TB;'+graph_list.join(';')
//                  },
//                depart_kw:function(){
//                        var org_heads = depart_heads
//                        var par =ex.findone(org_heads,{name:'par'})
//                        par.options=ex.map(this.departs,function(depart){
//                            return {value:depart.par,label:depart.label}
//                        })
//
//                        var kw = {
//                            heads:org_heads,
//                        }
//
//                        var actvie_node=ex.findone(this.departs,{did:this.active_pk})
//                        if(actvie_node){
//                            kw.row=actvie_node
//                        }
//                        return kw
//                }
            },
            methods:{
                get_heads:function(){
                    var node= this.diagram.selection.first()
                    var org_heads = depart_heads
                    var other_departs=this.departs
                    if(node){
                        other_departs = ex.exclude(other_departs,{did:node.data.did})
                    }

                    var par =ex.findone(org_heads,{name:'par'})
                    par.options=ex.map(other_departs,function(depart){
                        return {value:depart.did,label:depart.label}
                    })
                    return org_heads
                },
                switch_view:function(view){
                    this.crt_view=view
                    var url =ex.appendSearch({crt_view:this.crt_view})
                    ex.pushUrl(url)
                },
                goto_edit:function(row){
                    crt_view=this.crt_view


                    location= ex.template('edit/{pk}?next={next}',{pk:row.pk,
                        next:btoa(encodeURI(ex.appendSearch({crt_view:this.crt_view})) ),})
                },
                goto_page:function (page) {
                    this.search_args._page=page
                    this.search()
                },

                get_new_cursor:function(){
                    this.new_cursor= this.new_cursor || 1
                    this.new_cursor+=1
                    return 'new_'+this.new_cursor
                },
                add_root:function(){
                    var new_id=this.get_new_cursor()
                    this.diagram.model.addNodeData({did:new_id,label:'未命名顶级部门'})

                },
                add_new:function () {
                    var node= this.diagram.selection.first()
                    if(node){
                        var new_id=this.get_new_cursor()
                        this.diagram.model.addNodeData({did:new_id,label:'未命名部门',par:node.data.did})

                    }else{
                        alert('please select one super department')
                    }
                },
                edit:function(){
                    var node= this.diagram.selection.first()
                    if(node){
                        this.depart_kw.row=node.data
                        this.depart_kw.heads=this.get_heads()
                        this.show_edit_win=true

                    }
                },
                save:function(){
                    var post_data=[{fun:'save_departments',rows:this.departs,deleted_departs:this.deleted_departs}]
                    ex.post(ajax_url,JSON.stringify(post_data),function(resp){
                        location.reload()
                    })
                },
                delete_active_node:function(){
                    var node= this.diagram.selection.first()
                    if(node){
                        this.deleted_departs.push(node.data)
                        this.diagram.remove(node)
                    }

                },
                get_pos:function(){
                    if(this.crt_obj){
                        alert([this.crt_obj.getLeft(),this.crt_obj.getTop()])
                        alert(this.crt_obj.getCenterPoint())
                    }
                },


                search:function () {
                    location =ex.template('{path}{search}',{path:location.pathname,
                        search: encodeURI(ex.searchfy(this.search_args,'?')) })
                },
                close_win:function(){
                    this.show_edit_win=false
                    bus.$emit('sync_data')
                    var node= this.diagram.selection.first()
                    if(node && this.edit_model){
                       node.updateTargetBindings()
                        node.updateRelationshipsFromData()
                    }
                }


            },
            mounted:function () {
                var self=this
//                this.update_mermaid()


//                var self=this;
//                var post_data=[{fun:'model_perm',perm:'can_add',model:model,_rt_key:'can_add'},
//                    {fun:'model_perm',perm:'can_del',model:model,_rt_key:'can_del'}]
//                $.post('',JSON.stringify(post_data),function (data) {
//                    self.can_add=data.can_add
//                    self.can_del=data.can_del
//                })

            }

        })
    })

    function update(myDiagram,data,props){
        myDiagram.startTransaction("update");
        for(var key in props){
            myDiagram.model.setDataProperty(data,key,props[key])
        }
        myDiagram.commitTransaction("update");
    }

//    function callback(){
//        alert('a')
//    }
//
//    function check_zoom(wrap,callback){
//        var mt = /max-width:(\w+)/.exec(wrap.find('svg').attr('style'))
//        if(mt){
//            var max_width=mt[1]
//            if(wrap.width()<parseInt(max_width)){
//                wrap.height( wrap.find('svg').height())
//                wrap.find('svg').css('width','100%')
//                callback()
//            }
//        }
//    }
//    function addClass(ele,cls){
//        var org_cls = ele.attr('class').split(' ')
//        org_cls.push(cls)
//        org_cls= $.unique(org_cls)
//        ele.attr('class',org_cls.join(' '))
//    }
//    function removeClass(ele,cls){
//        var org_cls = ele.attr('class').split(' ')
//        ex.remove(org_cls,cls)
//        ele.attr('class',org_cls.join(' '))
//    }



    function nodeClicked(e,node){
        bus.$emit('node_clicked',node)
    }
    $(function(){
        var $ = go.GraphObject.make;

        var myDiagram =
                $(go.Diagram, "myDiagramDiv",
                        {
                            initialContentAlignment: go.Spot.Center, // center Diagram contents
//                            "undoManager.isEnabled": true, // enable Ctrl-Z to undo and Ctrl-Y to redo
                            layout: $(go.TreeLayout, // specify a Diagram.layout that arranges trees
                                    { angle: 90, layerSpacing: 35 })
                        });

// the template we defined earlier
        myDiagram.nodeTemplate =
                $(go.Node, "Horizontal",

                        { background: "#44CCFF",
                            click: nodeClicked,
                        },
                        new go.Binding("background", "detail", function(v) {
                            if(v)return '#ddd4a4'
                            else return '#44CCFF'
                        }),

//                        $(go.Picture,
//                                { margin: 10, width: 50, height: 50, background: "red" },
//                                new go.Binding("source")),
                        $(go.TextBlock, "Default Text",
                                { margin: 12, stroke: "white", font: "bold 16px sans-serif" },
                                new go.Binding("text", "label"))
                );

// define a Link template that routes orthogonally, with no arrowhead
        myDiagram.linkTemplate =
                $(go.Link,
                        { routing: go.Link.Orthogonal, corner: 5 },
                        $(go.Shape, { strokeWidth: 3, stroke: "#555" })); // the link shape

        var model = $(go.TreeModel);

        model.nodeKeyProperty='did'
        model.nodeParentKeyProperty='par'
        model.nodeDataArray = rows

        myDiagram.model = model;

        dog.diagram=myDiagram
    })
</script>


<style>
    .node{
        cursor:pointer;
    }
</style>

<div id='there' class="flex-v" style="height: 100%;">
    <path-nav :menu='menu'></path-nav>

    <div>
        <button @click="edit_model = !edit_model">切换编辑状态</button>
    </div>

    <div v-show="edit_model">
        <button @click="add_root()">{% trans "root department" %}</button>
        <button @click="add_new()">{% trans "sub department" %}</button>
        <button @click="edit()">{% trans "edit" %}</button>
        <button @click="save()">{% trans "save" %}</button>
        <button @click="delete_active_node()">delete</button>


        <!--<button @click="add_circle()">circle</button>-->

        <!--<button @click="get_pos()">get</button>-->
        <!--<button @click="add_line()">line</button>-->
        <!--<button @click="zoom_in()">aware</button>-->
    </div>



    <div id="myDiagramDiv" class="flex-grow"
         style="background-color: #DAE4E4;"></div>
    <!--<div class="flex flex-grow" style="background-color: red"></div>-->







    <modal v-if="show_edit_win"  @click.native="close_win()">
        <div style="width: 80vw;height: 80vh;max-width: 800px;" @click.stop>
            <div class='field-panel' v-if="edit_model">
                <field name="label" :kw="depart_kw"></field>
                <field name="par" :kw="depart_kw"></field>
                <field name="detail" :kw="depart_kw"></field>
            </div>

            <div v-if="!edit_model" style="padding: 20px">
                <div v-html="crt_node.detail"></div>
            </div>

        </div>
    </modal>

</div>


<style type="text/css" media="screen" id="test">
    .btn-panel .selected{
        color: #0d23ff;

    }
    .button-group{
        position: relative;
        display: inline-block;
    }
    .form-control{
        display: inline-block;
        margin-left:10px;
        width:auto;
        /*height:30px;*/
    }
    .sort-mark{
        float: right;
    }
    .selected{
        background-color: #DDD;
    }
    .clickable{
        cursor: pointer;
        font-size:120%;
        color: #0099CC;
    }

    /*.mermaid svg{*/
        /*width: 100%;*/
    /*}*/

    .node.has_detail rect{
        fill: #fff1c6;
    }
.node.active rect,.node.active circle{
    fill:green;
}


</style>


{% endblock %}