{% extends "director/index.html" %}
{% load static %}
{% load i18n %}
{% load jsonify %}

{% block page_content %}

<script type="text/javascript">

    var person ={{ person | jsonify }}

    can_add={{ can_add | jsonify | default:'false' }}
    can_log={{ can_log | jsonify | default:'false' }}
    can_del={{ can_del | jsonify | default:'false' }}

    ex.each(person.bas_info.heads,function(head){
        if(head.name=='head'){
            head.config={
                crop:true,
                aspectRatio: 1,
                size:{width:250,height:250}
            }
        }
    })
    var crt_view= 'emp_info'

    ajax_url="{% url 'employee_ajax' %}"


    $(function () {
        new Vue({
            el:'#there',
            data:{
                person:person,
                menu:menu,

                can_add:can_add,
                can_del:can_del,
                can_log:can_log,

                crt_view:crt_view,
            },
            mixins:[field_fun],
            methods:{
                log_url:function(){
                    return ex.template('{engine_url}/log?rows={_class}:{pk}&next={next}',{engine_url:engine_url,_class:person.emp_info.row._class,
                        pk:person.emp_info.row.pk,next:encodeURIComponent(location.href)})
                },
                submit:function () {
                    var self =this;
                    show_upload()
                    var search =ex.parseSearch()

                    var post_data=[{fun:'save_employee_info',emp_info:this.person.emp_info.row,bas_info:this.person.bas_info.row}]

                    ex.post(ajax_url,JSON.stringify(post_data),function (resp) {
                        hide_upload(500)

                        if(resp.save_employee_info.emp_errors){
                            self.person.emp_info.errors=resp.save_employee_info.emp_errors
                        }
                        if(resp.save_employee_info.bas_errors){
                            self.person.bas_info.errors=resp.save_employee_info.bas_errors
                        }

                        if(!resp.save_employee_info.emp_errors && !resp.save_employee_info.bas_errors) {
                            if (search.next) {
                                location = decodeURIComponent(search.next)
                            }
                        }
//                            }else{
//                                return false
//                            }
//                        })
//                        var search = ex.parseSearch()
//                        if(error_pages.length == 0 && search.next){
//                            location=atob(search.next)
//                        }

                    })
                },
                cancel:function () {
                    var search =ex.parseSearch() //parseSearch(location.search)
                    if(search.next){
                        location=decodeURIComponent(search.next)
                    }
                },
                exclude:function(array_,list){
                    return ex.filter(array_,function(item){
                        return !(ex.isin(item.name,list))
                    })
                }

            },

        })
    })
</script>

<div id='there'>

    <div v-if="can_log" style='float: right;padding: 5px 20px;'>
        <a :href="log_url()">History</a>
    </div>
    <path-nav :menu='menu'>
        <li><span>编辑</span></li>
    </path-nav>

    <div style='overflow: hidden;'>
        <div class="btn-group" style='float: right;'>
            <button type="button" class="btn btn-default" @click='submit()' v-if='can_add'>Save</button>
            <button type="button" class="btn btn-default" v-if='can_del' @click='del_row()'>删除</button>
            <button type="button" class="btn btn-default" @click='cancel()' >Cancel</button>
        </div>
    </div>

    <ul class='inst-menu'>
        <li v-text="person.emp_info.label" @click="crt_view='emp_info'" :class="{'active':crt_view=='emp_info'}"></li>
        <li v-text="person.bas_info.label" @click="crt_view='bas_info'" :class="{'active':crt_view=='bas_info'}"></li>
    </ul>

    <div v-show="crt_view=='emp_info'">
        <div class='field-panel'>
            <field name='head' :kw='person.bas_info'></field>
            <field name='employ_id' :kw='person.emp_info'></field>
            <field name='name' :kw='person.bas_info'></field>
            <field name='position' :kw='person.emp_info'></field>
            <field name='salary_level' :kw='person.emp_info'></field>

            <field name='user' :kw='person.emp_info'>
                <forign-edit :kw="person.emp_info" name="user" page_name="user" ></forign-edit>

            </field>
        </div>
    </div>

    <div v-show="crt_view=='bas_info'">
        <div class="field-panel">

            <!--<field name='name' :kw='person.bas_info'></field>-->
            <field v-for="head in exclude(person.bas_info.heads,['head'])" :name='head.name' :kw='person.bas_info'></field>
        </div>
    </div>


</div>


{% endblock %}