{% extends "index.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}
<script src='{% static "js/fields.pack.js" %}'></script>
<script src='{% static "js/uis.pack.js" %}'></script>
<script type="text/javascript">
        
        heads={{ heads | jsonify }}
		row = {{ row | jsonify }}
		permits={{permits | jsonify }}
		models = {{ models | jsonify}}
		errors={}

        $(function () {
                haha= new Vue({
                        el:'#there',
                        data:{
                                models:models,
                                permits:permits,
                                selected_admin_name:'',
                                kw:{
	                                heads:heads,
	                                row:row,
	                                errors:{},
                                }
                        },
                        methods:{
                                add:function (name) {
	                                if(!name){
		                                return 
	                                }
	                                var self=this;
                                    var post_data=[{fun:'admin_fields',admin_name:this.selected_admin_name}]
                                    $.post('',JSON.stringify(post_data),function (data) {
	                                    //var row={'can__create':false,'can__delete':false}
	                                    var heads=data.admin_fields
	                                    //for (var i=0;i<heads.length;i++){
		                                   // var head=heads[i]
		                                   // row[head.name+'__read']=false
		                                   // row[head.name+'__write']=false
	                                    //}
                                    	permits.push({heads:data.admin_fields,
                                    					admin_name:self.selected_admin_name,
                                    					row:[],
                                    					})
                                    })
                                },
                                get_admin_label:function (name) {
                                	for(var i=0;i<this.models.length;i++){
	                                	if(this.models[i].name==name){
		                                	return this.models[i].label
	                                	}
                                	}
                                },
                                get_left_models:function () {
	                                var ls=[]
                                	for(var i=0;i<this.models.length;i++){
	                                	var model=this.models[i]
	                                	var find=false;
	                                	for(var j=0;j<this.permits.length;j++){
		                                	var permit = this.permits[j]
		                                	if(permit.admin_name==model.name){
			                                	find=true
			                                	break
		                                	}
	                                	}
	                                	if(!find){
		                                	ls.push(model)
	                                	}
                                	}
                                	return ls
                                },
                                submit:function () {
                                        var self=this;
                                        show_upload()
                                        var post_data=[{fun:'save_permit',row:this.kw.row,permits:this.permits}]
                                        $.post('',JSON.stringify(post_data),function (data) {
                                                if(data.save_permit.errors){
                                                        this.kw.errors=data.save_permit.errors
                                                }
                                   
                                                setTimeout(function () {
                                                    hide_upload()
                                                },2000)
                                        })
                                },
                        },
                })
        })

        //function win_open(url) {
        //		window.open(url,location.pathname,'height=500,width=800,resizable=yes,scrollbars=yes')
        //}
</script>
<div id='there'>
		
        <button name="test" type="button" value="val" @click='submit()'>Save</button>
        
        <field name='name' :kw='kw'></field>
        <div>
            <select name="" id="" v-model='selected_admin_name'>
	            <option v-for='item in get_left_models()' :value="item.name" v-text='item.label'></option>
            </select>
            <button name="test" type="button" value="val" @click='add(selected_admin_name)'>添加</button>
        </div>
        <div  class='row'>
	        <table class='table'>
	        	<tr v-for='permit in permits'>
		        	<td><span v-text='get_admin_label(permit.admin_name)'></span></td>
		        	<td>
			        	<table >
				        	<tr class='select_cell'>
					        	<td><span >快捷</span></td>
					        	<td><span >整表</span></td>
					        	<td v-for='head in permit.heads'><span v-text='head.label'></span></td>
				        	</tr>
				        	<tr class='select_cell'>
					        	<td><input type="checkbox" name="test" value="" /></td>
					        	<td><input type="checkbox" :id="permit.admin_name+'can__create'" value="can__create" v-model='permit.row'/>
									<label :for="permit.admin_name+'can__create'">创建</label>
									</td>
								<td v-for='head in permit.heads'><input type="checkbox" :id="permit.admin_name+head.name+'__read'" 
										:value="head.name+'__read'" v-model="permit.row" />
									<label :for="permit.admin_name+head.name+'__read'">读</label>
									</td>
				        	</tr>
				        	<tr class='select_cell'>
					        	<td><input type="checkbox" value='' ></td>
					        	<td><input type="checkbox" :id="permit.admin_name+'can__delete'"  value='can__delete' v-model='permit.row'>
							       <label :for="permit.admin_name+'.can__delete'">删除</label>
							       </td>
							    <td v-for='head in permit.heads'><input type="checkbox" :id="permit.admin_name+head.name+'__write'" 
						           	:value="head.name+'__write'" v-model="permit.row">
						           	<label :for="permit.admin_name+head.name+'__write'">写</label>
						           	</td>
				        	</tr>
				        </table>  
		        	</td>
	        	</tr>
	        </table>

        </div>


</div>

<style type="text/css" media="screen" id="test">
	.row .col{
		display: inline-block;
		margin-left:10px;
	}
	.select_cell label{
		font-weight:normal;
	}
</style>

<script type="text/javascript">
        Vue.component('pure_form',{
                template:'#pure_form',
                props:['kw'],
                methods:{
                        submit:function () {
                                var self =this;
                                show_upload()
                                var post_data=[{fun:'save',row:this.kw.row}]
                                $.post('',JSON.stringify(post_data),function (data) {
                                        if(data.save.errors){
                                                self.kw.errors = data.save.errors
                                                hide_upload()
                                        }else{
                                                self.$dispatch('submit-success')
                                                setTimeout(function () {
                                                        hide_upload()
                                                }, 2000);
                                        }
                                        
                                })
                        }
                },
                events:{
                        'submit':function () {
                                this.submit()
                        }
                }
        })
</script>
<template id='pure_form'>
        <div>
                <field  v-for='head in kw.heads' :name='head.name' :kw='kw'></field>
        </div>
</template>
{% endblock %}