{% extends "index.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}
<script src='{% static "js/fields.pack.js" %}'></script>
<script src='{% static "js/uis.pack.js" %}'></script>
<script type="text/javascript">
        
        heads={{ heads | jsonify }}
		row = {{ row | jsonify }}
		permits={{permits | jsonify }}
		models = {{ models | jsonify}}
		errors={}

        $(function () {
                haha= new Vue({
                        el:'#there',
                        data:{
                                models:models,
                                permits:permits,
                                selected_admin_name:''
                        },
                        methods:{
                                add:function (name) {
	                                if(!name){
		                                return 
	                                }
	                                var self=this;
                                    var post_data=[{fun:'admin_fields',name:this.selected_admin_name}]
                                    $.post('',JSON.stringify(post_data),function (data) {
	                                    //var row={'can__create':false,'can__delete':false}
	                                    var heads=data.admin_fields
	                                    //for (var i=0;i<heads.length;i++){
		                                   // var head=heads[i]
		                                   // row[head.name+'__read']=false
		                                   // row[head.name+'__write']=false
	                                    //}
                                    	permits.push({heads:data.admin_fields,
                                    					admin_name:self.selected_admin_name,
                                    					row:[],
                                    					})
                                    })
                                },
                                get_admin_label:function (name) {
                                	for(var i=0;i<this.models.length;i++){
	                                	if(this.models[i].name==name){
		                                	return this.models[i].label
	                                	}
                                	}
                                },
                                get_left_models:function () {
	                                var ls=[]
                                	for(var i=0;i<this.models.length;i++){
	                                	var model=this.models[i]
	                                	var find=false;
	                                	for(var j=0;j<this.permits.length;j++){
		                                	var permit = this.permits[j]
		                                	if(permit.admin_name==model.name){
			                                	find=true
			                                	break
		                                	}
	                                	}
	                                	if(!find){
		                                	ls.push(model)
	                                	}
                                	}
                                	return ls
                                },
                                submit:function () {
                                        var self=this;
                                        show_upload()
                                        //var user_account=this.user_account?this.user_account.row:null
                                        var post_data=[{fun:'save_employ_infos',employee_info:this.employee_info.row,bs_info:this.bs_info.row}]
                                        $.post('',JSON.stringify(post_data),function (data) {
                                                if(data.save_employ_infos.employee_errors){
                                                        self.$set('employee_errors',data.save_employ_infos.employee_errors)
                                                }
                                                if(data.save_employ_infos.bs_errors){
                                                        self.$set('bs_errors',data.save_employ_infos.bs_errors)
                                                }
                                                setTimeout(function () {
                                                        hide_upload()
                                                },2000)
                                        })
                                },
                        },
                })
        })

        //function win_open(url) {
        //		window.open(url,location.pathname,'height=500,width=800,resizable=yes,scrollbars=yes')
        //}
</script>
<div> hi theressssssssss</div>
<div id='there'>
        <button name="test" type="button" value="val" @click='submit()'>Save</button>
        <div>
            <select name="" id="" v-model='selected_admin_name'>
	            <option v-for='item in get_left_models()' :value="item.name" v-text='item.label'></option>
            </select>
            <button name="test" type="button" value="val" @click='add(selected_admin_name)'>添加</button>
        </div>
        <div  class='row'>
	        <table>
	        	<tr v-for='permit in permits'>
		        	<td><span v-text='get_admin_label(permit.admin_name) '></span></td>
		        	<td>
			        	<ul >
				        	<li class='col'>
					        	<span >快捷</span>
								<div>
									<input type="checkbox" name="test" value="" />
								</div>
					           <div>
						           <input type="checkbox" value='' >
					           </div>
				        	</li>
				        	<li class='col'>
					        	<span >整表</span>
								<div>
									<input type="checkbox" name="test" value="can__create" v-model='permit.row'/>创建
								</div>
					           <div>
						           <input type="checkbox" value='can__delete' v-model='permit.row'>删除
					           </div>
				        	</li>

				            <li v-for='head in permit.heads' class='col'>
					           	<span v-text='head.label'></span>
								<div>
									<input type="checkbox" :value="head.name+'__read'" v-model="permit.row" />读
								</div>
					           <div>
						           <input type="checkbox" :value="head.name+'__write'" v-model="permit.row">写
					           </div>
					           	
				            </li>
				        </ul>  
		        	</td>
	        	</tr>
	        </table>

        </div>


</div>

<style type="text/css" media="screen" id="test">
	.row .col{
		display: inline-block;
		margin-left:10px;
	}
</style>

<script type="text/javascript">
        Vue.component('pure_form',{
                template:'#pure_form',
                props:['kw'],
                methods:{
                        submit:function () {
                                var self =this;
                                show_upload()
                                var post_data=[{fun:'save',row:this.kw.row}]
                                $.post('',JSON.stringify(post_data),function (data) {
                                        if(data.save.errors){
                                                self.kw.errors = data.save.errors
                                                hide_upload()
                                        }else{
                                                self.$dispatch('submit-success')
                                                setTimeout(function () {
                                                        hide_upload()
                                                }, 2000);
                                        }
                                        
                                })
                        }
                },
                events:{
                        'submit':function () {
                                this.submit()
                        }
                }
        })
</script>
<template id='pure_form'>
        <div>
                <field  v-for='head in kw.heads' :name='head.name' :kw='kw'></field>
        </div>
</template>
{% endblock %}