{% extends "index.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}
<script src='{% static "js/fields.pack.js" %}'></script>
<script type="text/javascript">
	
	heads={{ heads | jsonify }}
	row = {{ row | jsonify }}

	errors={}

	$(function () {
		new Vue({
			el:'#there',
			data:{
				kw:{
					heads:heads,
			        row:row,
			   		errors:errors,
				}
			},
			methods:{
				submit:function () {
					var self =this;
					show_upload()
					var search =parseSearch(location.search)
					var post_data=[{fun:'save',row:this.kw.row}]
					$.post('',JSON.stringify(post_data),function (data) {
						if(data.msg){
							hide_upload()
							return
						}
						if(data.save && data.save.errors){
							self.kw.errors = data.save.errors
							hide_upload()
						}else if(search._pop==1){
							if(window.opener.on_subwin_close){
								window.opener.on_subwin_close({pk:data.save.pk,_class:data.save._class})
							}
							window.close()
						}else if(search.next){
							location=atob(search.next)
						}else{
							setTimeout(function () {
								hide_upload()
							}, 2000);
						}
						
					})
				},
				cancel:function () {
					var search =parseSearch(location.search)
					if(search.next){
						location=atob(search.next)
					}
				}
			}
		})
	})
</script>

<div> hi there</div>
<div id='there'>
	<button name="test" type="button" value="val" @click='submit()'>Save</button>
	<button name="test" type="button" value="val" @click='cancel()'>Cancel</button>
	<field  v-for='head in kw.heads' :name='head.name' :kw='kw'></field>
	
</div>
<style type="text/css" media="screen" id="test">
	._tow-col-sel .sel {
    	width: 350px;
	}
</style>
{% endblock %}