{% extends "index.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}
<script src='{% static "js/fields.pack.js" %}'></script>
<script type="text/javascript">
	
	heads={{ heads | jsonify }}
	row = {{ row | jsonify }}

	errors={}

	$(function () {
		new Vue({
			el:'#there',
			data:{
				kw:{
					heads:heads,
			        row:row,
			   		errors:errors,
				},
				menu:menu,
				can_save:false,
				can_delete:false,
			},
			methods:{
				submit:function () {
					var self =this;
					show_upload()
					var search =parseSearch(location.search)
					var post_data=[{fun:'save',row:this.kw.row}]
					$.post('',JSON.stringify(post_data),function (data) {
						if(data.msg){
							hide_upload()
							return
						}
						if(data.save && data.save.errors){
							self.kw.errors = data.save.errors
							hide_upload()
						}else if(search._pop==1){
							if(window.opener.on_subwin_close){
								window.opener.on_subwin_close({pk:data.save.pk,_class:data.save._class})
							}
							window.close()
						}else if(search.next){
							location=atob(search.next)
						}else{
							setTimeout(function () {
								hide_upload()
							}, 2000);
						}
						
					})
				},
				cancel:function () {
					var search =parseSearch(location.search)
					if(search.next){
						location=atob(search.next)
					}
				}
			},
			compiled:function () {
				var self=this
				var ls = row._class.split('.')
				var app_label=ls[0]
				var model_name=ls[1]
				var post_data=[{fun:'model_perm',perm:'can_add',model:row._class,_rt_key:'can_save'},
								{fun:'model_perm',perm:'can_del',model:row._class,_rt_key:'can_delete'}]
				$.post('',JSON.stringify(post_data),function (data) {
					self.can_save=data.can_save
					self.can_delete=data.can_delete
				})
			}
		})
	})
</script>

<div id='there'>
	
	<path-nav :menu='menu'>
		<li><span>编辑</span></li>
	</path-nav>
	
	<button name="test" type="button" value="val" @click='submit()' v-if='can_save'>Save</button>
	<button name="delete" type="button" value="val" v-if='can_delete'>删除</button>
	<button name="test" type="button" value="val" @click='cancel()' >Cancel</button>
	<field  v-for='head in kw.heads' :name='head.name' :kw='kw'></field>
	
</div>
<style type="text/css" media="screen" id="test">
	._tow-col-sel .sel {
    	width: 350px;
	}
</style>
{% endblock %}