{% extends "director/index.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}

{% comment  'python-code'%}
<script type="text/javascript" id="form-meta-data">


heads=[
	{'name':'slogan','label':'slogan','type':'richtext'},

]

</script>
{% endcomment %}




<script type="text/javascript">

	//	{'name':'content','label':'content','type':'richtext'},
	//	{'name':'foot','label':'foot','type':'richtext'}

	var ctx={{ ctx | jsonify }}
	$(function(){
		new Vue({
			el:'#home_there',
			data:{
				ctx:ctx
			}
		})
	})
</script>




<div id="home_there">
	<div v-html="ctx.slogan"></div>
</div>

<style type="text/css">
	#home_there{
		max-width: 600px;
		margin: auto;
	}
</style>

{% endblock %}