{% extends "index.html" %}
{% load static %}

{% block page_content %}
<script src='{% static "js/table.pack.js" %}'></script>
<script type="text/javascript">
	
	filters={{filters | safe }}
	q='{{q | safe |default:""}}'
	placeholder = '{{placeholder |default:""}}'
	sort={{sort | safe }}
	heads={{ heads | safe }}
	rows={{ rows | safe }}
	page_nums = {{ page_nums | safe}}

	$(function () {
		new Vue({
			el:'#there',
			data:{
		        heads:heads,
		        rows:rows,
		        crt_page:{},
		        filters:filters,
		        sort:sort,
		        page_nums:page_nums,
		        q:q,
		        placeholder:placeholder,
			},
			mixins:[build_table_args],
			methods:{
				map:function (name,row) {
					if(name==heads[0].name){
			                return '<a href="edit/'+row.pk+'">'+row[name]+'</a>'
		                }else{
			                return row[name]
			        }
				}
			}
			
		})
	})
</script>
<div> hi there</div>
<div id='there'>
	<input v-if='placeholder' type="text" name="test" v-model='q' :placeholder='placeholder'/>

	<select name="" id="" v-for='filter in filters' v-model='filter.value'>
	        <option value="" v-text='filter.label'></option>
	        <option value="" >----</option>
	        <option  v-for='option in filter.options' :value="option.name" v-text='option.label'></option>
	</select>
	<button name="test" type="button" value="val" @click='search()'>search</button>
	<sort-table :heads='heads' :rows='rows' :sort='sort' :map='map'></sort-table>
	<paginator :nums='page_nums'></paginator>
	<div>sssssss sssss ssss sssss sssss s            s s sssssssss sssss ssss sssss sssss s            s s sssssssss sssss ssss sssss sssss s            s s sssssssss sssss ssss sssss sssss s            s s sssssssss sssss ssss sssss sssss s            s s sssssssss sssss ssss sssss sssss s            s s sssssssss sssss ssss sssss sssss s            s s sssssssss sssss ssss sssss sssss s            s s sssssssss sssss ssss sssss sssss s            s s sssssssss sssss ssss sssss sssss s            s s sssssssss sssss ssss sssss sssss s            s s ss</div>
	
</div>
{% endblock %}