{% extends "index.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}

<script type="text/javascript">

    heads={{ heads | jsonify }}
    row = {{ row | jsonify }}

    errors={}

    $(function () {
        new Vue({
            el:'#there',
            data:{
                kw:{
                    heads:heads,
                    row:row,
                    errors:errors,
                },
                menu:menu,
                can_save:false,
                can_delete:false,
                can_log:false,
            },
            methods:{
                submit:function () {
                    var self =this;
                    show_upload()
                    var search =ex.parseSearch() //parseSearch(location.search)
                    var post_data=[{fun:'save',row:this.kw.row}]
                    ex.post('',JSON.stringify(post_data),function (resp) {
                        if(resp.save.pk && resp.save._class){
                            sessionStorage.setItem(resp.save._class,resp.save.pk)
                        }
                        if( resp.save.errors){
                            self.kw.errors = resp.save.errors
                            hide_upload()
                        }else if(search._pop==1){
                            if(window.opener.on_subwin_close){
                                window.opener.on_subwin_close({pk:resp.save.pk,_class:resp.save._class})
                            }
                            window.close()
                        }else if(search.next){

                            location=atob(search.next)
                        }else{
                            hide_upload(1000)

                        }
                    })
                },
                cancel:function () {
                    var search =ex.parseSearch() //parseSearch(location.search)
                    if(search.next){
                        location=atob(search.next)
                    }
                },
                del_row:function () {
                    if(!confirm('真的删除吗?'))
                        return
                    var obj={
                        pk:this.kw.row.pk,
                        _class:this.kw.row._class
                    }
                    var obj_str=JSON.stringify([obj])
                    var path = '{% url "del_rows" %}'
                    location=ex.template('{path}?rows={rows}&next={next}',{path:path,
                        rows:btoa(obj_str),
                        next:btoa(location.pathname)})
                },
                choose_parent:function(){
                    var  self=this
                    var director = '{% url 'director' %}'
                    ln.openWin(ex.template('{director}model/task/',{director:director}),function(resp){
                        self.kw.row.parent=resp.pk
//                        alert(resp)
                    })
                }
            },
            mounted:function () {
                var self=this
                var ls = row._class.split('.')
                var app_label=ls[0]
                var model_name=ls[1]
                var post_data=[{fun:'model_perm',perm:'can_add',model:row._class,_rt_key:'can_save'},
                    {fun:'model_perm',perm:'can_del',model:row._class,_rt_key:'can_delete'},
                    {fun:'model_perm',perm:'can_log',model:row._class,_rt_key:'can_log'}]
                $.post('',JSON.stringify(post_data),function (data) {
                    self.can_save=data.can_save
                    self.can_delete=data.can_delete
                    self.can_log=data.can_log
                })
            }
        })
    })
</script>

<div id='there'>

    <div style='float: right;padding: 5px 20px;'>
        <a href="ss">History</a>
    </div>
    <path-nav :menu='menu'>
        <li><span>编辑</span></li>
    </path-nav>

    <div style='overflow: hidden;'>
        <div class="btn-group" style='float: right;'>
            <button type="button" class="btn btn-default" @click='submit()' v-if='can_save'>Save</button>
            <button type="button" class="btn btn-default" v-if='can_delete' @click='del_row()'>删除</button>
            <button type="button" class="btn btn-default" @click='cancel()' >Cancel</button>
        </div>
    </div>


    <div class='field-panel'>
        <field name="name" :kw="kw"></field>
        <field name="parent" :kw="kw">
            <button @click="choose_parent()">choose</button>
        </field>
        <field  v-for='head in kw.heads' :name='head.name' :kw='kw'></field>
    </div>
</div>

{% endblock %}